In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series(np.arange(3), index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int32

In [3]:
ser1.drop('B')

A    0
C    2
dtype: int32

In [4]:
dframe = DataFrame(np.arange(9).reshape((3,3)), index=['SF', 'LA', 'NY'], columns=['pop','size','year'])
dframe

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [5]:
dframe.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [6]:
dframe.drop('size')

ValueError: labels ['size'] not contained in axis

In [7]:
dframe.drop('size', axis=1)

    pop  year
SF    0     2
LA    3     5
NY    6     8

In [8]:
dframe

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8