In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series(np.arange(3), index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int32

In [3]:
 ser1 = 2 * ser1

In [4]:
ser1

a    0
b    2
c    4
dtype: int32

In [5]:
ser1['b']

2

In [6]:
ser1['B']

KeyError: 'B'

In [7]:
ser1[1]

2

In [8]:
ser1[0:3]

a    0
b    2
c    4
dtype: int32

In [9]:
ser1[['a','c']]

a    0
c    4
dtype: int32

In [10]:
ser1[ser1>2]

c    4
dtype: int32

In [11]:
ser1[ser1>3] = 10

In [12]:
ser1

a     0
b     2
c    10
dtype: int32

In [15]:
dframe = DataFrame(np.arange(25).reshape((5,5)), index=['NYC','MA','SF','LA','DC'], columns=['a','b','c','d','e'])

In [16]:
dframe

      a   b   c   d   e
NYC   0   1   2   3   4
MA    5   6   7   8   9
SF   10  11  12  13  14
LA   15  16  17  18  19
DC   20  21  22  23  24

In [17]:
dframe['b']

NYC     1
MA      6
SF     11
LA     16
DC     21
Name: b, dtype: int32

In [18]:
dframe[['b', 'd']]

      b   d
NYC   1   3
MA    6   8
SF   11  13
LA   16  18
DC   21  23

In [19]:
dframe[dframe['c'] > 5]

     a   b   c   d   e
MA   5   6   7   8   9
SF  10  11  12  13  14
LA  15  16  17  18  19
DC  20  21  22  23  24

In [20]:
dframe > 10

         a      b      c      d      e
NYC  False  False  False  False  False
MA   False  False  False  False  False
SF   False   True   True   True   True
LA    True   True   True   True   True
DC    True   True   True   True   True

In [21]:
dframe.ix['LA']

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

a    15
b    16
c    17
d    18
e    19
Name: LA, dtype: int32