In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [10]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [11]:
ranger = range(15)
ranger

range(0, 15)

In [12]:
ranger

range(0, 15)

In [13]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E','F'], columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.850975  0.348364  0.897346 -0.135742 -1.156607
B -0.347813  0.503820  1.241810  1.335809 -0.195391
D  0.653606  0.127305 -1.623523  0.190345 -0.621860
E -0.885682 -0.716009 -0.991016 -0.008349  0.839744
F  0.189883  1.334566 -0.116047  0.534805  1.578268

In [15]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -1.850975  0.348364  0.897346 -0.135742 -1.156607
B -0.347813  0.503820  1.241810  1.335809 -0.195391
C       NaN       NaN       NaN       NaN       NaN
D  0.653606  0.127305 -1.623523  0.190345 -0.621860
E -0.885682 -0.716009 -0.991016 -0.008349  0.839744
F  0.189883  1.334566 -0.116047  0.534805  1.578268

In [16]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [17]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.850975  0.348364  0.897346 -0.135742 -1.156607   NaN
B -0.347813  0.503820  1.241810  1.335809 -0.195391   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.653606  0.127305 -1.623523  0.190345 -0.621860   NaN
E -0.885682 -0.716009 -0.991016 -0.008349  0.839744   NaN
F  0.189883  1.334566 -0.116047  0.534805  1.578268   NaN

In [18]:
dframe

       col1      col2      col3      col4      col5
A -1.850975  0.348364  0.897346 -0.135742 -1.156607
B -0.347813  0.503820  1.241810  1.335809 -0.195391
D  0.653606  0.127305 -1.623523  0.190345 -0.621860
E -0.885682 -0.716009 -0.991016 -0.008349  0.839744
F  0.189883  1.334566 -0.116047  0.534805  1.578268

In [19]:
dframe.ix[['A','B','C','D','E','F'], new_columns]

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A -1.850975  0.348364  0.897346 -0.135742 -1.156607   NaN
B -0.347813  0.503820  1.241810  1.335809 -0.195391   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.653606  0.127305 -1.623523  0.190345 -0.621860   NaN
E -0.885682 -0.716009 -0.991016 -0.008349  0.839744   NaN
F  0.189883  1.334566 -0.116047  0.534805  1.578268   NaN